<nav>
  <ul>
    <li>PROP<strong>BETS</strong></li>
  </ul>
  <ul>
    <% if current_user %>
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Sign Out", sign_out_path, role: "button" %></li>
    <% else %>
      <li><%= link_to "Sign Up", sign_up_path %></li>
      <li><%= link_to "Sign In", sign_in_path %></li>
    <% end %>
  </ul>
</nav>
